# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Api keys
data/private_input_data/

# Parameter sweep output files
SEIR-STOCH_Param_Sweep/*/
US_Vax_Compare/*/
SEIHRD-STOCH_Param_Sweep/Surrogate_Sims/

**/input.json
.idea/
OUTPUT_*/
OUTPUT.json
.python-version
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.swp
*.xml
.Rproj.user
.vscode/
scripts/.Rhistory
scripts/.RData*
scripts/.RDataTmp

# Ignore all input data files to be downloaded or created by user
data/private_input_data/
data/POPULATION/
data/MOBILITY/
data/BRFSS/
data/NSCH/
data/RISK_RATIOS/
data/SVI/
data/PLACES/
data/VACCINATION/
figures/

# ignore output files
US_States/
*_TEST/
sim_data/
metadata_master.csv

# ignore code coverage related files
.coverage
htmlcov/
